{% extends 'deepar_base.html' %}
{% load static %}
{% block head %}
{{ block.super}}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>    
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <style>
        
#container {
  width: 100%;
  height: 100%;
}

#video {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

#canvas {
  width: 100%;
  height: 100%;
}

canvas.deepar { 
          border: 0px none; 
          background-color: black; 
          display: block; 
          margin: auto; 
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          width: 500px;
          height: 500px; 
}
    </style>
{% endblock %}
{% block content %}

<div id="container">
    <canvas class="deepar" id="deepar-canvas" oncontextmenu="event.preventDefault()"></canvas>
    <!-- <video id="video" autoplay playsinline loop muted></video> -->
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{% static 'lib/js/deepar.js' %}"></script>
<script type="text/javascript">
// var video = document.getElementById('video');

// if (navigator.mediaDevices.getUserMedia) {
//   var successCallback = function(stream) {
//     video.srcObject = stream;
//   };
//   var errorCallback = function(error) {
//     console.log(error);
//   };
//   navigator.mediaDevices.getUserMedia({
//     audio: false,
//     video: { facingMode: 'user' }
//   }).then(successCallback, errorCallback);
//   requestAnimationFrame(renderFrame);
// }

let canvas = document.getElementById('deepar-canvas');

var deepAR = new DeepAR({ 
        licenseKey: '55faac40a80177491dc62380af87cf5cc0e498a7aa7cf61dad455e21edc69dbbc54a35fcbe53cf88',
        canvas: canvas,
        segmentationConfig: {
          modelPath: "{% static 'lib/models/segmentation/segmentation-160x160-opt.bin' %}"
        },
        footTrackingConfig: {
          poseEstimationWasmPath: "{% static 'lib/wasm/libxzimgPoseEstimation.wasm' %}" ,
          detectorPath: "{% static 'lib/models/foot/foot-detector-android.bin' %}" , // or ...-ios.bin
          trackerPath: "{% static 'lib/models/foot/foot-tracker-android.bin' %}",  // or ...-ios.bin
          objPath: "{% static 'lib/models/foot/foot-model.obj' %}",
        },
        deeparWasmPath: "{% static 'lib/wasm/deepar.wasm' %}",
        callbacks: {
          onInitialize: function() {
          // start video immediately after the initalization, mirror = true
        //   deepAR.startVideo(true);
            // deepAR.setVideoElement(video, true)
            startExternalVideo()

          // or we can setup the video element externally and call deepAR.setVideoElement (see startExternalVideo function below)

          deepAR.switchEffect(0, 'slot',  "{% static 'effects/Blue_Smooth_1_Soft_05_R217_G214_B229.deepar' %}" , function() {
            // effect loaded
          });
        }
        }
      });

      deepAR.callbacks.onCameraPermissionAsked = function() {
        console.log('camera permission asked');
      };

      deepAR.callbacks.onCameraPermissionGranted = function() {
        console.log('camera permission granted');
      };

      deepAR.callbacks.onCameraPermissionDenied = function() {
        console.log('camera permission denied');
      };

      deepAR.callbacks.onScreenshotTaken = function(photo) {

      };

      deepAR.callbacks.onImageVisibilityChanged = function(visible) {
        console.log('image visible', visible);
      };

      deepAR.callbacks.onFaceVisibilityChanged = function(visible) {
        console.log('face visible', visible);
      };

      deepAR.downloadFaceTrackingModel("{% static 'lib/models/face/models-68-extreme.bin' %}");

        // Store video objects for cleanup
        var videoObjects = {};
      function startExternalVideo() {
        console.log('start')
        cleanupVideoObjects();
        // create video element
        var video = document.createElement('video');
        // var video = document.getElementById('video')
        video.muted = true;
        video.loop = true;
        video.controls = true;
        video.setAttribute('playsinline', 'playsinline');
        video.style.width = '100%';
        video.style.height = '100%';
        video.style.transform = "scaleX(-1)";

        // put it somewhere in the DOM
        // var videoContainer = document.createElement('div');
        var videoContainer = document.getElementById('container')
        videoContainer.appendChild(video);
        // videoContainer.style.width = '200px';
        // videoContainer.style.height = '200px';
        // videoContainer.style.position = 'absolute';
        // videoContainer.style.top = '100px';
        // videoContainer.style.left = '100px';
        // videoContainer.style['z-index'] = '2';

        // document.body.appendChild(videoContainer);
  
        // videoObjects.videoContainer = videoContainer;
        // videoObjects.video = video;
          
        navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' }})
        .then(function(stream) {
          try {
            video.srcObject = stream;
          } catch (error) {
            video.src = URL.createObjectURL(stream);
          }
          setTimeout(function() {
            video.play();
          }, 50);
        }).catch(function(error) {
            console.log('error in video play:', error);
        });

        // tell the DeepAR SDK about our new video element
        deepAR.setVideoElement(video, true);
          
        var loaderWrapper = document.getElementById('loader-wrapper');
        loaderWrapper.style.display = 'none';
      }

      function cleanupVideoObjects() {
        if (videoObjects.length > 0){  
            videoObjects.videoContainer.parentNode.removeChild(videoObjects.videoContainer);
            videoObjects.videoContainer = null;
            if (videoObjects.video.srcObject) {
              //getUserMedia starts a stream, all tracks on all streams need to be stoppedbefore calling getUserMedia again
              videoObjects.video.srcObject.getTracks().forEach(track => track.stop())
            }
            videoObjects.video.pause();
            videoObjects = {};
        }
      }
</script>
{% endblock %}