{% extends 'deepar_base.html' %}
{% load static %}
{% block head %}
{{ block.super}}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>    
    <title>DeepAR</title>
    <style>

      canvas.deepar { 
        border: 0px none; 
        background-color: black; 
        display: block; 
        margin: auto; 
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }

      body {
        margin: 0px;
        padding: 0px;        
      }


      #loader-wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        text-align: center;
      }

      .loader {

        display: inline-block;
        position: relative;
        top: 42%;
        z-index: 1000;

        width: 90px;
        height: 90px;
        margin: auto;
        background-color: #00f;

        border-radius: 100%;  
        -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
        animation: sk-scaleout 1.5s infinite ease-in-out;
      }

      @-webkit-keyframes sk-scaleout {
        0% { -webkit-transform: scale(0) }
        100% {
          -webkit-transform: scale(1.0);
          opacity: 0;
        }
      }

      @keyframes sk-scaleout {
        0% { 
          -webkit-transform: scale(0);
          transform: scale(0);
        } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
        }
      }


      #video {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        object-fit: cover;
      }

      
      #buttons {
          position: fixed;
          bottom: 1rem; 
          left: 50%;
          transform: translate(-50%, 0);

          display: none;
          grid-auto-flow: column;
          column-gap: 10px;
          justify-content: center;
          z-index: 99999;
      }

      #submit-btn, #retake-btn {
          width: 150px;
          height: 80px;
      }
      
      #photo-btn {
          position: fixed;
          bottom: 1rem;
          left: 50%;
          transform: translate(-50%, 0);
          width: 200px;
          height: 80px;
          z-index: 99999;
      }


    </style>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

{% endblock %}
{% block content %}
{% csrf_token %}
{% url 'deepar' as experimentone %}
{% url 'camera' as experimenttwo %}

    <canvas  class="deepar" id="deepar-canvas" oncontextmenu="event.preventDefault()"></canvas>
    <canvas {% if profile.isARCamera %} style="display: none" {% endif %}  id="camera--sensor" oncontextmenu="event.preventDefault()"></canvas>
    <video id="video" autoplay playsinline loop muted></video>
   
    <button id="photo-btn" onclick="takePhoto()">Take photo</button>
    <div id="buttons">
      <button id="retake-btn" onclick="retakePhoto()">Retake photo</button>
      <!-- <a href="{% if request.path == experimentone %} {% url 'select' %} {% elif profile.experiment_two_day >= 12 %} {% url 'select_three' %} {% else %}{% url 'next' %}{% endif %}"> -->
        <button id="submit-btn" onclick="submitPhoto()">Submit photo</button>
      <!-- </a> -->
    </div>


    <div id="loader-wrapper">
    <span class="loader"></span></span>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{% static 'lib/js/deepar.js' %}"></script>
    <script type="text/javascript">
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      var canvasHeight = window.innerHeight;
      var canvasWidth = window.innerWidth;
      
      // desktop, the width of the canvas is 0.66 * window height and on mobile it's fullscreen
      if (window.innerWidth > window.innerHeight) {
        canvasWidth = Math.floor(window.innerHeight*0.66);
      }

      let canvas = document.getElementById('deepar-canvas');
      let unedited = document.getElementById('camera--sensor');
      let video = document.getElementById('video');
      canvas.width = canvasWidth;
      canvas.height = canvasHeight;
      video.width = canvasWidth;
      video.height = canvasHeight;
      unedited.width = canvasWidth; 
      unedited.height = canvasHeight;

      function takePhoto() {
        let video = document.getElementById('video');
        video.pause();
        deepAR.pause();
        
        let take_photo = document.getElementById('photo-btn')
        take_photo.style.display = 'none';

        let buttons = document.getElementById('buttons')
        buttons.style.display = "grid";
      }

      function retakePhoto() {
        let video = document.getElementById('video');

        fetch('{{ request.path }}retake/', {
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken,},
        })

        video.play();
        deepAR.resume(); 

        let take_photo = document.getElementById('photo-btn')
        take_photo.style.display = 'block';

        let buttons = document.getElementById('buttons')
        buttons.style.display = "none";
      }

      function submitPhoto() {
        let cameraSensor = document.querySelector("#camera--sensor");
        // cameraSensor.width = canvasWidth;
        // cameraSensor.height = canvasHeight;

        // let video = document.getElementById('video')
        // var hRatio = canvasWidth  / video.videoWidth   ;
        // var vRatio =  canvasHeight / video.videoHeight  ;
        // var ratio  = Math.max ( hRatio, vRatio );
        // var centerShift_x = ( canvasWidth - video.videoWidth*ratio ) / 2;
        // var centerShift_y = ( canvasHeight - video.videoHeight*ratio ) / 2;  
        // var ctx = cameraSensor.getContext('2d');
        // ctx.clearRect(0,0,canvasWidth, canvasHeight);
        // ctx.scale(-1, 1);
        // console.log(-centerShift_x, centerShift_y)
        // ctx.drawImage(video, 0,0, video.videoWidth, video.videoHeight,
        //                     -centerShift_x,centerShift_y,video.videoWidth*ratio*-1, video.videoHeight*ratio);  

        var photo = cameraSensor.toDataURL("image/png");

        var loaderWrapper = document.getElementById('loader-wrapper');
        loaderWrapper.style.display = 'inline-block';

        let myHeaders = new Headers({
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/upload',
          'X-Is-AR': '' 
        })
        
        fetch('{{ request.path }}', {
          method: 'POST',
          mode: 'cors',
          body: photo,
          headers: myHeaders,
        })
        .then(() => {
          deepAR.takeScreenshot(); 
          // window.location.href = 'select/'
        })
      }

      var ctx = unedited.getContext('2d');
      ctx.scale(-1, 1);



      function updateCanvas() {
        // let video = document.getElementById('video');
        // let unedited = document.getElementById('camera--sensor');
        var hRatio = canvasWidth  / video.videoWidth   ;
        var vRatio =  canvasHeight / video.videoHeight  ;
        var ratio  = Math.max ( hRatio, vRatio );
        var centerShift_x = ( canvasWidth - video.videoWidth*ratio ) / 2;
        var centerShift_y = ( canvasHeight - video.videoHeight*ratio ) / 2;  

        // ctx.clearRect(0,0,canvasWidth, canvasHeight);
        ctx.drawImage(video, 0,0, video.videoWidth, video.videoHeight,
                            -centerShift_x,centerShift_y,video.videoWidth*ratio*-1, video.videoHeight*ratio);         
        // ctx.drawImage(video, 0, 0, canvasWidth, canvasHeight);

        window.requestAnimationFrame(updateCanvas);
      }

      requestAnimationFrame(updateCanvas);

      

      var deepAR = new DeepAR({ 
        licenseKey: '55faac40a80177491dc62380af87cf5cc0e498a7aa7cf61dad455e21edc69dbbc54a35fcbe53cf88',
        canvas: canvas,
        segmentationConfig: {
          modelPath: "{% static 'lib/models/segmentation/segmentation-160x160-opt.bin' %}"
        },
        footTrackingConfig: {
          poseEstimationWasmPath: "{% static 'lib/wasm/libxzimgPoseEstimation.wasm' %}" ,
          detectorPath: "{% static 'lib/models/foot/foot-detector-android.bin' %}" , // or ...-ios.bin
          trackerPath: "{% static 'lib/models/foot/foot-tracker-android.bin' %}",  // or ...-ios.bin
          objPath: "{% static 'lib/models/foot/foot-model.obj' %}",
        },
        deeparWasmPath: "{% static 'lib/wasm/deepar.wasm' %}",
        callbacks: {
          onInitialize: function() {
          // start video immediately after the initalization, mirror = true
        //   deepAR.startVideo(true);
            // deepAR.setVideoElement(video, true)
            startExternalVideo()

          // or we can setup the video element externally and call deepAR.setVideoElement (see startExternalVideo function below)

          deepAR.switchEffect(0, 'slot',  "{% static 'effects/Blue_Smooth_1_Soft_05_R217_G214_B229.deepar' %}" , function() {
            // effect loaded
          });
        }
        }
      });

      deepAR.callbacks.onCameraPermissionAsked = function() {
        console.log('camera permission asked');
      };

      deepAR.callbacks.onCameraPermissionGranted = function() {
        console.log('camera permission granted');
      };

      deepAR.callbacks.onCameraPermissionDenied = function() {
        console.log('camera permission denied');
      };

      deepAR.callbacks.onScreenshotTaken = function(photo) {

        let myHeaders = new Headers({
          'X-CSRFToken': csrftoken,
          'Content-Type': 'application/upload',
          'X-Is-AR': 'True' 
        })

        fetch('{{ request.path }}', {
                method: 'POST',
                mode: 'cors',
                body: photo,
                headers: myHeaders,
        })
        .then(() => { 
            if("{{request.path}}" === "/experimentone/") {
              window.location.href = 'select/'
            } else if (parseInt('{{profile.experiment_two_day}}') >= 12) {
              //experiment two day 6 
              window.location.href = 'select/'
            } else {
              //experiment two 
              window.location.href = 'next/'
            }

        })

        };

      deepAR.callbacks.onImageVisibilityChanged = function(visible) {
        console.log('image visible', visible);
      };

      deepAR.callbacks.onFaceVisibilityChanged = function(visible) {
        console.log('face visible', visible);
      };

      deepAR.callbacks.onVideoStarted = function() {
        var loaderWrapper = document.getElementById('loader-wrapper');
        loaderWrapper.style.display = 'none';
      };

      deepAR.downloadFaceTrackingModel("{% static 'lib/models/face/models-68-extreme.bin' %}");

      // Store video objects for cleanup
      var videoObjects = {};

      function startExternalVideo() {
        cleanupVideoObjects();
        // create video element
        var video = document.getElementById('video');
        video.muted = true;
        video.loop = true;
        // video.controls = true;
        video.setAttribute('playsinline', 'playsinline');
          
        navigator.mediaDevices.getUserMedia({video: true}).then(function(stream) {
          try {
            video.srcObject = stream;
          } catch (error) {
            video.src = URL.createObjectURL(stream);
          }
          setTimeout(function() {
            video.play();
          }, 50);
        }).catch(function(error) {
            console.log('error in video play:', error);
        });

        // tell the DeepAR SDK about our new video element
        deepAR.setVideoElement(video, true);
          
        var loaderWrapper = document.getElementById('loader-wrapper');
        loaderWrapper.style.display = 'none';
      }

      function cleanupVideoObjects() {
        if (videoObjects.length > 0){  
            videoObjects.videoContainer.parentNode.removeChild(videoObjects.videoContainer);
            videoObjects.videoContainer = null;
            if (videoObjects.video.srcObject) {
              //getUserMedia starts a stream, all tracks on all streams need to be stoppedbefore calling getUserMedia again
              videoObjects.video.srcObject.getTracks().forEach(track => track.stop())
            }
            videoObjects.video.pause();
            videoObjects = {};
        }
      }

      function calculateSize(srcSize, dstSize) {
        var srcRatio = srcSize.width / srcSize.height;
        var dstRatio = dstSize.width / dstSize.height;
        if (dstRatio > srcRatio) {
          return {
            width:  dstSize.height * srcRatio,
            height: dstSize.height
          };
        } else {
          return {
            width:  dstSize.width,
            height: dstSize.width / srcRatio
          };
        }
      }

      function renderFrame() {
        requestAnimationFrame(renderFrame);

        var canvasHeight = window.innerHeight;
        var canvasWidth = window.innerWidth;
        
        // desktop, the width of the canvas is 0.66 * window height and on mobile it's fullscreen
        if (window.innerWidth > window.innerHeight) {
          canvasWidth = Math.floor(window.innerHeight*0.66);
        }
        
        if (video.readyState === video.HAVE_ENOUGH_DATA) {
          var videoSize = { width: video.videoWidth, height: video.videoHeight };
          var canvasSize = { width: canvas.width, height: canvas.height };
          var renderSize = calculateSize(videoSize, canvasSize);
          var xOffset = (canvasSize.width - renderSize.width) / 2;
          context.drawImage(video, xOffset, 0, renderSize.width, renderSize.height);
        }
      }

     
    </script>
{% endblock %}
